# Compiled class files
*.class

# Log file
*.log

# Package Files #
*.jar
*.war

# virtual machine crash logs
hs_err_pid*

# Eclipse specific files
.project
.classpath
.settings/
target/

# IntelliJ specific files
.idea/
*.iml
*.iws

# Mac specific files
.DS_Store